@import url('https://fonts.googleapis.com/css?family=Russo+One');

header {
  background-color: rgb(0, 238, 255);
  text-align: center;
}

.logo {
  margin-top: 10px;
  height: 150px;
  -webkit-animation: rotation 13s infinite linear;
}

#trainers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#trainers .card {
  margin: 25px 0px;
  background-color: orange;
  border: 1px solid black;
  padding-bottom: 2.5rem;
}

#profiles-page {
  margin-top: 25px;
  display: flex;
}

 #profiles-page section {
  width: 50%;
  margin: 0px 45px;
}

.profiles li {
  display: flex;
  list-style: none;
  border: 2px solid black;
  margin-bottom: 25px;
  padding-left: 5px;
  background-color: orange;
  color: red;
  font-family: "Russo One";
  justify-content: space-around;
}

.profiles li img {
  height: 150px;
  width: 150px;
}

.teacher {
  margin: 20px 65px 10px 50px;
  width: 40%;
}

.info {
  padding-top: 25px;
  width: 40%;
}

.info h4 {
  font-size: 25px;
}

#change {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

#change img {
  height: 20px;
  width: 20px;
  text-decoration: none;
  margin-left: 15px;
}

.submit-start {
  margin-left: 30%;
  background-color: orange;
  width: 225px;
  font-size: 20px;
  padding: 20px 35px;
  border: 2px solid rgb(248, 185, 13);
}

button * {
  text-decoration: none;
  color: red;
}

* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

select {
  height: 40px;
}

textarea {
  height: 200px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: rgb(248, 185, 13);
  color: red;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 5px;
}

input[type=submit]:hover {
  background-color: orange;
}

.contact {
  min-height: calc(70vh - 57px);
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.contact ul {
  margin-top: 200px;
}

.contact li {
  list-style: none;
  margin-top: 5px;
}

#delete {
  margin-top: 10%;
  margin-right: 25%;
}

.skills {
  display: flex;
  flex-direction: column;
}

.skills h2 {
  color: red;
  text-align: center;
}

.edit-skill {
  margin-left: 90%;
}

.edit-skill img {
  height: 20px;
  width: 20px;
  text-decoration: none;
  margin-left: 15px;
}

#footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  background-color: rgb(0, 238, 255);
  position: relative;
  bottom: 0;
  width: 100%;
}

small {
  margin-left: 10px;
  color: black;
}

.footer-contact a {
  color: black;
  margin: 0px 5px;
  text-decoration: none;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
